<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="search">Search Keyword: </label>
    <input type="text" name="search" id="search" formControlName="keyword" />
  </div>
  <input type="submit" [disabled]="searchForm.invalid" mat-raised-button style="background-color: red;" value="Search" />
</form>

<div class="assets-list" style="padding: 20px;" >
 
  <div *ngFor="let asset of assetList"  >
    <div class="asset-list">
      
      <!-- <div *ngIf="asset.type=='com.artesia.container.Container'"></div> -->
      <label>ASSET NAME:</label>
      <h5 style="text-align: left; font-size: large; color: aqua;">{{asset.name}}</h5><br>
      <img class="asset-img-css" [src]="baseUrl.concat(asset.rendition_content.thumbnail_content.url) | src | async" >
      <label>Type:</label>
      <h3>{{asset.mime_type}}</h3>
      <a [routerLink]="['/viewdetail/'+asset.asset_id]">View Detail</a>
    </div> 
  </div>
</div>