<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="search">Search Keyword: </label>
    <input type="text" name="search" id="search" formControlName="keyword" />
  </div>
  <input type="submit" value="Search" />
</form>
<!-- 
{{myData | async |json}} -->



<div *ngIf="assetList.length">
  <div>
  <div *ngFor="let asset of assetList">
    <div >
      <!-- <div *ngIf="asset.type=='com.artesia.container.Container'"></div> -->
      <label>ASSET NAME:</label>
      <h5 style="text-align: left; font-size: large; color: aqua;">{{asset.name}}</h5><br>
      <img style="height: 120px;" [src]="'http://training-otmm.acheron-tech.com:11090/'+asset.rendition_content.thumbnail_content.url" alt="thumbnail"><br>
      <label>Type:</label>
      <h6>{{asset.mime_type}}</h6>
      <a [routerLink]="['/viewdetail/'+asset.asset_id]" >View Detail</a>
      <!-- <button (click)=""> Click to view</button> -->
    </div> 
  </div>
  </div>

</div>